{{define "comment"}}
<ul data-controller="comment" data-comment-commentid="{{.ID}}" data-comment-storyid="{{.StoryID}}"
  data-comment-username="{{if .SignedInUser}}{{.SignedInUser.UserName}}{{end}}"
  data-comment-userid="{{if .SignedInUser}} {{.SignedInUser.UserID}} {{end}}"
  data-comment-isauthenticated="{{if .SignedInUser}}true{{else}}false{{end}}" data-comment-points="{{.Points}}"
  class="flex flex-wrap w-full mt-3 {{if not .IsRoot}}pl-6{{end}}">
  <li class="w-full">
    <div data-target="comment.voterWrapper" class="flex-row w-full {{if .IsUpvoted}} upvoted {{end}}">
      <div class="voters">
        <a data-target="comment.voter"
          data-action="{{if .IsUpvoted}} click->comment#unvote {{else}} click->comment#upvote {{end}}" class="upvoter"
          title="{{if .IsUpvoted}}Remove vote{{else}}Add upvote{{end}}"></a>
      </div>
      <div class="text-gray-600 text-xs font-medium">
        <span>{{.UserName}}</span>
        <span> {{.CommentedOnText}}</span>
        <span data-target="comment.points"> | {{.Points}} points </span>
        {{if .SignedInUser}}
        <span>
          |
          <a class="text-gray-600" data-action="click->comment#showReplyBox">reply</a></span>
        {{end}}
      </div>
    </div>
    <div class="flex-row w-full ml-10">
      <p class="text-gray-800 text-sm">{{.Comment}}</p>
    </div>
    <div data-target="comment.replyForm"></div>
    {{range .ChildComments}}
    {{template "comment" .}}
    {{end}}
    <div data-target="comment.replyOutput"></div>
  </li>
</ul>
{{end}}