<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://app.linkwind.co/public/app.css" />
  <link rel="icon" type="image/x-icon" href="https://app.linkwind.co/public/favicon.ico" />
  <title>404-Page Not Found</title>
</head>

<body>
  <div class="container mx-auto">
    <div class="flex flex-wrap">
      <div class="w-full">
        <div class="text-gray-800 text-center font-bold py-24 m-20">
          <p class="text-2xl">Only invited people can create an account.<br />
            If you know the admin of this site, please contact the admin and ask for an invitation.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://app.linkwind.co/public/app.js"></script>
</body>

</html>