<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="/public/app.css" />
  <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
  <title>Set New Password</title>
</head>

<body>
  <div class="container mx-auto">
    <div class="w-full max-w-xs mx-auto pt-20">
      <h2 class="text-gray-700 text-center font-bold">Set New Password</h2>
      <form method="POST" action="/set-new-password" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          {{with .Errors.General}}
          <p class="text-red-500 text-sm italic mb-5">{{.}}</p>
          {{end}}
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
            Username
          </label>
          <input
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
            id="userName" name="userName" type="text" value="{{.UserName}}" placeholder="Username" />
          {{with .Errors.General}}
          <p class="text-red-500 text-sm italic">{{.}}</p>
          {{end}}
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            New Password
          </label>
          <input
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
            id="newPassword" name="newPassword" type="password" value="{{.NewPassword}}" placeholder="newPassword" />
          {{with .Errors.NewPassword}}
          <p class="text-red-500 text-sm italic">{{.}}</p>
          {{end}}
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            Confirm Password
          </label>
          <input
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
            id="confirmPassword" name="confirmPassword" type="password" value="{{.ConfirmPassword}}"
            placeholder="confirmPassword" />
          {{with .Errors.ConfirmPassword}}
          <p class="text-red-500 text-sm italic">{{.}}</p>
          {{end}}
          {{with .Errors.NotEqual}}
          <p class="text-red-500 text-sm italic">{{.}}</p>
          {{end}}
        </div>
        <div class="flex items-center justify-between">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Set New Password
          </button>
        </div>
        <div class="flex items-center justify-between py-2 px-0">
          {{with .SuccessMessage}}
          <p class="text-green-500 text-sm italic">{{.}}</p>
          {{end}}
        </div>
        <div class="flex items-end justify-between py-2 px-0">
          <a href="/signin">Click here to login</a>
        </div>
      </form>
    </div>
  </div>
  <script src="/public/app.js"></script>
</body>

</html>