<!DOCTYPE html>
<html>
  <head>
    <style></style>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/dist/app.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <title>500 - Something went wrong :(</title>
  </head>

  <body style>
    <div class="container mx-auto">
      <div class="flex flex-wrap">
        <div class="w-full">
          <div class="text-gray-800 text-center font-bold mt-20">
            <p class="text-6xl">:/</p>
            <p class="text-4xl">Something went wrong</p>
          </div>
          <div class="text-gray-800 text-center font-medium mt-5">
            <a href="/index.html" class="text-xl">Return to home page</a>
          </div>
        </div>
      </div>
    </div>
    <script src="/dist/app.js"></script>
  </body>
</html>
