{{define "header"}}
<div id="header">
  <div class="float-left">
    <ul class="flex">
      <li class="mr-6">
        <a class="text-gray-800 hover:text-gray-600" href="/">Logo</a>
      </li>
      <li class="mr-6">
        <a class="text-gray-800 hover:text-gray-600" href="/">Name</a>
      </li>
      <li class="mr-6">
        <a class="text-gray-800 hover:text-gray-600" href="/recent">Recent</a>
      </li>
      <li class="mr-6">
        <a class="text-gray-800 hover:text-gray-600" href="/submit">Submit</a>
      </li>
      <li class="mr-6">
        <a class="text-gray-800 hover:text-gray-600" href="/search">Search</a>
      </li>
    </ul>
  </div>
  <div class="float-right">
    <ul class="flex">
      <li class="mr-6">
        <a class="text-gray-800 hover:text-gray-600" href="/username"
          >UserName</a
        >
      </li>
    </ul>
  </div>
</div>
{{end}}
