/* purgecss start ignore */
@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 no-underline cursor-pointer;
}

div.voters {
  float: left;
  margin-top: 0px;
  width: 40px;
}

div.voters div.score {
  color: #aaa;
  font-size: 9pt;
  margin-top: 1px;
  margin-bottom: -3px;
  text-align: center;
}

li.story div.voters div.score {
  font-size: 9.5pt;
  margin-top: 2px;
}

div.voters .upvoter,
div.voters .downvoter {
  border-color: transparent transparent #bbb transparent;
  border-style: solid;
  border-width: 6px;
  text-decoration: none;
  width: 0px;
  height: 0;
  margin-bottom: 0px;
  margin-left: 14px;
  padding: 0;
  display: block;
}

div.voters .upvoter:hover,
.upvoted div.voters .upvoter {
  border-bottom-color: #5a67d8;
}

div.voters .upvoter {
  border-bottom-width: 11px;
}

div.voters .downvoter {
  border-color: #bbb transparent transparent transparent;
  border-width: 5px;
  margin-top: 4px;
  margin-left: 15px;
  margin-bottom: -5px;
  border-top-width: 9px;
}
div.voters .downvoter:hover,
.downvoted div.voters .downvoter {
  border-top-color: gray;
}

div.voters .downvoter.downvoter_stub {
  border-color: transparent;
}

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
