{{define "header"}}
<div id="header">
  <div class="header-left">
    <span class="headerlinks">
      <a href="/">Turk Dev</a>
      <a href="/recent" class="">Recent</a>
      <a href="/comments" class="">Commets</a>
      <a href="/stories/new" class="">Submit Story</a>
      <a href="/saved" class="">Saved</a>
    </span>
  </div>

  <div class="header-right">
    <span class="header-links">
      {{if ne .User.Name ""}}
      <a href="/invite" class="">Invite User</a>
      <a href="/replies" class="">Replies</a>
      <a href="/settings" class="">{{.User.Name}}</a>
      {{end}}
      {{if eq .User.Name ""}}
      <a href="/login" class="">Login</a>
      {{end}}
    </span>
  </div>
</div>
<hr />
{{end}}