<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/dist/app.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <title>User Profile Edit</title>
  </head>

  <body>
    <div class="container mx-auto">
      <div class="w-full max-w-lg mx-auto pt-px">
        <form
          method="POST"
          action="/profile-edit"
          class="bg-white shadow-md rounded px-8 pt-6 pb-6 mb-2"
        >
          <div class="mb-3">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="userName"
            >
              User
            </label>
            <input
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
              id="userName"
              name="userName"
              type="value"
              value="{{.UserName}}"
              placeholder="UserName" readonly
            />
          </div>
          <div class="mb-3">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="password"
            >
              Created
            </label>
            <input
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
              id="registeredOn"
              name="registeredOn"
              type="text"
              value="{{.RegisteredOn}}"
              placeholder="registeredOn" readonly
            />
          </div>
          <div class="mb-3">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="password"
            >
              Karma
            </label>
            <input
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
              id="karma"
              name="karma"
              type="text"
              value="{{.Karma}}"
              placeholder="karma" readonly
            />
          </div>
          <div class="mb-3">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="text"
            >
              Full Name 
            </label>
            <input
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
              id="fullName"
              name="fullName"
              type="text"
              value="{{.FullName}}"
              placeholder="fullName" readonly
            />
          </div>
          <div class="mb-3">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="text"
            >
              About
            </label>
            <textarea
              class="bg-gray-200 appearance-none box-border h-32 w-32 p-32 border-4  border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
              id="about"
              name="about"
              type="text"
              value="{{.About}}"
              placeholder="about">
            </textarea> 
          </div>
          <div class="mb-3">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="text"
            >
              E-mail
            </label>
            <input
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
              id="email"
              name="email"
              type="email"
              value="{{.Email}}"
              placeholder="email"
            />
            {{with .Errors.Email}}
            <p class="text-red-500 text-sm italic">{{.}}</p>
            {{end}}
            {{with .Errors.General}}
            <p class="text-red-500 text-sm italic mb-5">{{.}}</p>
            {{end}}
          </div>
          <div class="flex items-end justify-between py-1 px-0"> 
            <a href="/change-password">Change Password</a>
          </div>
          <div class="flex items-end justify-between py-1 px-0"> 
            <a href="/users/stories/upvoted">Upvoted Submissions</a>
        </div>
        <div class="flex items-end justify-between py-1 px-0"> 
            <a href="/users/stories/saved">Saved Submissions</a>
        </div>
          <div class="flex items-end justify-between py-1 px-0">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Update
            </button>
          </div>
          <div class="flex items-center justify-between py-2 px-0"> 
            {{with .SuccessMessage}}
          <p class="text-green-500 text-sm italic">{{.}}</p>
          {{end}}
          </div>
        </form>
      </div>
    </div>
    <script src="/dist/app.js"></script>
  </body>
</html>