{{template "layout" .}}
{{define "title" }}

{{if .Layout.Title}}
{{.Layout.Title}} | {{.Layout.Platform}}
{{else}}
{{.Title}} | {{.Layout.Platform}}
{{end}}

{{ end }}
{{define "content"}}
{{range .Stories}}
{{template "story" .}}
{{else}}
<div class="flex flex-wrap w-full mt-2">
  <p>No posts yet.</p>
</div>
{{end}}
<div class="container mx-auto">
  <div class="flex flex-wrap pt-3">
    <div class="w-full">
      <div class="float-left">
        <ul class="flex">
          <li class="mr-8 ml-10 mt-2">
            {{if (gt .Page.TotalPageCount 1)}}
            {{if .Page.IsFinalPage}}
            <a class="text-gray-800 hover:text-gray-600 font-semibold text-sm" href="/?page={{.Page.PreviousPage}}">
              << Page {{.Page.PreviousPage}}</a> {{else if (eq .Page.CurrentPage 1)}} <a
                class="text-gray-800 hover:text-gray-600 font-semibold text-sm" href="/?page={{.Page.NextPage}}">Page
                {{.Page.NextPage}} >>
            </a>
            {{else}}
            <a class="text-gray-800 hover:text-gray-600 font-semibold text-sm" href="/?page={{.Page.PreviousPage}}">
              << Page {{.Page.PreviousPage}}</a> | <a class="text-gray-800 hover:text-gray-600 font-semibold text-sm"
                href="/?page={{.Page.NextPage}}">Page {{.Page.NextPage}} >>
            </a>
            {{end}}
            {{end}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{end}}