{{define "story"}}
<div
  data-controller="story"
  data-story-storyid="{{.ID}}"
  data-story-userid="{{if .SignedInUser}} {{.SignedInUser.UserID}} {{end}}"
  data-story-isAuthenticated="{{if .SignedInUser}}true{{else}}false{{end}}"
  data-story-points="{{.Points}}"
  class="flex flex-wrap w-full mt-2"
>
  <div
    data-target="story.voterWrapper"
    class="flex-row w-full {{if .IsUpvotedBySignedInUser}} upvoted {{end}}"
  >
    <div class="voters">
      <a
        data-target="story.voter"
        data-action="{{if .IsUpvotedBySignedInUser}} click->story#unvote {{else}} click->story#upvote {{end}}"
        class="upvoter"
        title="Add upvote"
      ></a>
    </div>
    <div>
      <a
        href="{{if .URL}}{{.URL}}{{else}}/stories/detail?id={{.ID}}{{end}}"
        target="{{if .URL}}_blank{{else}}_self{{end}}"
        class="text-indigo-600 font-semibold"
        >{{.Title}}</a
      >
      {{if .URL}}
      <a
        href="http://{{.Host}}"
        target="_blank"
        class="text-gray-500 font-semibold text-xs ml-1"
        >({{.Host}})</a
      >
      {{end}}
    </div>
  </div>
  <div class="flex-row w-full text-xs font-medium text-gray-600 ml-10">
    <span data-target="story.points">{{.Points}} points by </span>
    <span>
      <a href="/users/profile?user={{.UserName}}" class="text-gray-600"
        >{{.UserName}}</a
      >
      {{.SubmittedOnText}}
    </span>
    {{if .SignedInUser}}
    <span
      >{{if .IsSavedBySignedInUser}} |
      <a href="/unsavestory" class="text-gray-600">unsave</a> {{else}} |
      <a href="/savestory" class="text-gray-600">save</a> {{end}}
    </span>
    {{end}}
    <span>
      |
      <a href="/stories/detail?id={{.ID}}" class="text-gray-600"
        >{{.CommentCount}} comments</a
      ></span
    >
  </div>
</div>
{{end}}
